# Case study on Pre-processing
### Do the following on titanic dataset.
1. Load the dataset into python environment
2. Make ‘PassengerId’ as the index column
3. Check the basic details of the dataset
4. Fill in all the missing values present in all the columns in the dataset
5. Check and handle outliers in at least 3 columns in the dataset
6. Do min max scaling on the feature set (Take ‘Survived’ as target

In [ ]:
# Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. Load the dataset into python environment

In [ ]:
# Loading the csv file into a pandas dataframe.
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/titanic_dataset.csv")

In [ ]:
# display the contents in the dataset with 3 rows
df.head(3)

### 2. Make ‘PassengerId’ as the index column

In [ ]:
# Before set index, check the columns in the dataset
df.columns

In [ ]:
# Reset the index as ‘PassengerId’ feature
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/titanic_dataset.csv",index_col='PassengerId') # or we can use  df.set_index('PassengerId')

In [ ]:
# After set index, check the columns in the dataset
df.columns

In [ ]:
# display the contents in the dataset with 3 rows
df.head(3)

### 3. Check the basic details of the dataset

In [ ]:
# display the contents in the dataset
df

In [ ]:
# The summary of the data
df.info()

In [ ]:
# number of elements in each dimension (Rows and Columns)
df.shape

In [ ]:
# check the columns in the dataset
df.columns

For our titanic dataset has 891 rows with 11 features, it includes Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin and Embarked. As per the dataset has some missing values. we can treat missing values after the basic questions.

### 4. Fill in all the missing values present in all the columns in the dataset

In [ ]:
# Calculating the null values present in each columns in the dataset
df.isna().sum()

In [ ]:
# length of the dataset
len(df)

In [ ]:
# number of elements in each dimension (Rows and Columns)
df.shape

In [ ]:
# to determine the relative frequency of the missings per column to decide whether to simply drop or substitute the missings
df.isna().sum()/(len(df))*100

As you can see that there are null values present in the dataset. The features age, cabin and embarked are having the null values. we can treat the null values. 

cabin feature have 77% out of 100% null values present in the dataset so we can remove the cabin. If the columns have more than half of the rows as null values then the entire column can be dropped. Hence it's better to drop the column for a good output. But in our question clearly mentioned that fill the all missing values. Since cabin is a categorical data we can fill the missing values with mode method.

Age and embarked have 19.87% and 0.22% null values , we can treat the age and embarked features.

In [ ]:
# Display the data before missing values treatment
df[df.isna().any(axis=1)] # check at least one null values in a row

In [ ]:
# Calculating the null values present in each columns in the dataset
df.isna().sum()

Now, we can treat the missing values for age feature

In [ ]:
# The summary of the data
df.info()

In [ ]:
# we can plot the frequency graph
freqgraph = df.select_dtypes(include=['float','int64'])
freqgraph.hist(figsize=(15,10))
plt.show()

From the above frequency graph we can say that age is not completely normally distributed or we can say that it is not completely right skewed data. Hence we can use median method to handle the missing values in the age feature.

In [ ]:
# filling missing values for age we can use median method
df['Age'] = df['Age'].fillna(df['Age'].median()) # or df['Age'] = df['Age'].replace(np.NaN,df['Age'].median())

In [ ]:
# check the null values treated or not for age feature
df.isna().sum()

In [ ]:
# check the data type for all features in the dataset
df.dtypes

As you can see it is treated well for missing values in age feature. And now, we can fill the missing values for Cabin and Embarked, it is an object data types so we can use mode function to treat the missing values.

In [ ]:
# Display the Cabin feature
df.Cabin.value_counts()

In [ ]:
# Checking for mode for Cabin feature
df['Cabin'].mode()

We can see that it is a multimodal data. So we can fill the missing values with any of these modes. we can fill the missing values with G6

In [ ]:
# fill the missing values for Cabin
df['Cabin']= df['Cabin'].fillna('G6')

In [ ]:
# check the null values treated or not for Cabin
df.isna().sum()

In [ ]:
# Finding null values in the column 'Embarked'
df[df['Embarked'].isnull()]

In [ ]:
# calculating the count of Embarked values in the dataset
df.Embarked.value_counts()

Embarked implies where the traveler mounted from. There are three possible values for Embark — Southampton, Cherbourg, and Queenstown.

In [ ]:
# calculating the count of Embarked values in the dataset
df1 = df.Embarked.value_counts()/(len(df))*100
df1

In [ ]:
df1.plot(kind='bar', figsize=(7, 6), rot=0)
plt.xlabel("Embarked", labelpad=14)
plt.ylabel("Count of travels", labelpad=14)
plt.title("Count of travelers by Embarked")
plt.show()

More than 70% of the people boarded from Southampton. Just under 20% boarded from Cherbourg and the rest boarded from Queenstown. People who boarded from Cherbourg had a higher chance of survival than people who boarded from Southampton or Queenstown.

In [ ]:
# Southampton (S) is repeated 644 times in embarked so we can use mode value "S" to fill the null values in the embarked feature
# fill the missing values for embarked
df['Embarked'] = df['Embarked'].fillna('S')

In [ ]:
# check the null values treated or not 
df.isna().sum()

In [ ]:
# Display the data after missing values treatment
df[df.isna().any(axis=1)] # check at least one null values in a row

Now our dataset is completely treated with no null values

### 5. Check and handle outliers in at least 3 columns in the dataset

In [ ]:
# display the contents in the dataset
df.head()

**1. Fare feature**

In [ ]:
# for finding outliers we can use boxplot
# boxplot before removing the outliers from fare feature
plt.boxplot(df['Fare'])
plt.show()

As you can see that there are outliers present in the fare feature so we need to remove the outliers.

In [ ]:
# for removing outliers first we need to check the quartiles. It will manage the outliers
Q1 = np.percentile(df['Fare'],25,interpolation='midpoint')
Q2 = np.percentile(df['Fare'],50,interpolation='midpoint')
Q3 = np.percentile(df['Fare'],75,interpolation='midpoint')
print('Q1: ',Q1,'\nQ2: ',Q2,'\nQ3: ',Q3)

In [ ]:
# check the inter quartile range (IQR)
IQR = Q3 - Q1
print('IQR: ',IQR)

In [ ]:
#check the lower and upper limit 
low_lm = Q1-1.5*IQR
upp_lm = Q3+1.5*IQR
print("Lower limit is : ",low_lm)
print("Upper limit is : ",upp_lm)

Normally the datapoints which fall below Q1-1.5(IQR) and above Q3+1.5(IQR) are considered as outliers. If the value above the upper limit or below the lower limit we need to remove that outliers.

In [ ]:
# display the outilers
outliers = []
for i in df['Fare']:
  if((i>upp_lm)or(i<low_lm)):
    outliers.append(i)

print("Outliers in the fare feature are : ",outliers)

As you can see that these values are the outliers in the fare feature and also we can observe that there is no negative(lower limit) values and we have all the upper limit values as outliers. Now we need to find the index values for the outliers.

In [ ]:
# select the index of these outliers
indx1 = df['Fare']>upp_lm
outlier_index = df.loc[indx1].index
outlier_index

In [ ]:
# drop these index for removing outliers
df.drop(outlier_index, inplace=True)

In [ ]:
# boxplot after removing the outliers from fare feature
plt.boxplot(df['Fare'])
plt.show()

From the above boxplot we can see that we reduced the outliers from the fare feature.

**2. Age feature**

In [ ]:
# boxplot before removing the outliers from fare feature
plt.boxplot(df['Age'])
plt.show()

As you can see that there are outliers present in the age feature so we need to remove the outliers.

In [ ]:
# for removing outliers first we need to check the quartiles. It will manage the outliers
Q1 = np.percentile(df['Age'],25,interpolation='midpoint')
Q2 = np.percentile(df['Age'],50,interpolation='midpoint')
Q3 = np.percentile(df['Age'],75,interpolation='midpoint')
print('Q1: ',Q1,'\nQ2: ',Q2,'\nQ3: ',Q3)

# check the inter quartile range (IQR)
IQR = Q3 - Q1
print('IQR: ',IQR)

#check the lower and upper limit 
low_lm = Q1-1.5*IQR
upp_lm = Q3+1.5*IQR
print("Lower limit is : ",low_lm)
print("Upper limit is : ",upp_lm)

# display the outilers
outliers = []
for i in df['Age']:
  if((i>upp_lm)or(i<low_lm)):
    outliers.append(i)

print("Outliers in the age feature are : ",outliers)

As you can see that these values are the outliers in the age feature and also we can observe that there are lower limit values and the upper limit values present in age column as outliers. Now we need to find the index values for the outliers.

In [ ]:
# select the index of these outliers
indx1 = df['Fare']>upp_lm
outlier_index = df.loc[indx1].index
outlier_index

In [ ]:
# drop these index for removing outliers
df.drop(outlier_index, inplace=True)

In [ ]:
# boxplot after removing the outliers from age feature
plt.boxplot(df['Age'])
plt.show()

From the above boxplot we can see that we reduced the outliers from the age feature.

**3. SibSp feature**

In [ ]:
# boxplot before removing the outliers from SibSp feature
plt.boxplot(df['SibSp'])
plt.show()

As you can see that there are outliers present in the SibSp feature so we need to remove the outliers.

In [ ]:
# for removing outliers first we need to check the quartiles. It will manage the outliers
Q1 = np.percentile(df['SibSp'],25,interpolation='midpoint')
Q2 = np.percentile(df['SibSp'],50,interpolation='midpoint')
Q3 = np.percentile(df['SibSp'],75,interpolation='midpoint')
print('Q1: ',Q1,'\nQ2: ',Q2,'\nQ3: ',Q3)

# check the inter quartile range (IQR)
IQR = Q3 - Q1
print('IQR: ',IQR)

#check the lower and upper limit 
low_lm = Q1-1.5*IQR
upp_lm = Q3+1.5*IQR
print("Lower limit is : ",low_lm)
print("Upper limit is : ",upp_lm)

# display the outilers
outliers = []
for i in df['SibSp']:
  if((i>upp_lm)or(i<low_lm)):
    outliers.append(i)

print("Outliers in the SibSp feature are : ",outliers)

As you can see that these values are the outliers in the SibSp feature and also we can observe that there is only the upper limit values present in SibSp column as outliers. Now we need to find the index values for the outliers.

In [ ]:
# select the index of these outliers
indx1 = df['SibSp']>upp_lm
outlier_index = df.loc[indx1].index
outlier_index

In [ ]:
# drop these index for removing outliers
df.drop(outlier_index, inplace=True)

In [ ]:
# boxplot after removing the outliers from SibSp feature
plt.boxplot(df['SibSp'])
plt.show()

From the above boxplot we can see that we removed all the outliers from the SibSp feature.

### 6. Do min max scaling on the feature set (Take ‘Survived’ as target)

Before moving to the scaling we need to check the Dummy encoding with target variable 'Survived'.

In [ ]:
# check the number of unique values in the gender
df.Survived.nunique()

In [ ]:
df['Survived'].value_counts()

In [ ]:
df['Survived'].value_counts().plot(kind='bar', figsize=(7, 6), rot=0)
plt.xlabel("Survived", labelpad=14)
plt.ylabel("Count of Survived", labelpad=14)
plt.title("Count of Survived")
plt.show()

In [ ]:
# Checking correlation in our data set
corrmatrix = df.corr()
plt.subplots(figsize=(20,8))
sns.heatmap(corrmatrix, annot = True,vmax = 0.9, vmin = -0.3, linewidths = 0.2, cmap="BuPu")
plt.show()

In [ ]:
# Selecting only non categorical data
df1 = df[['Age','Pclass','SibSp','Parch','Fare','Survived']]
df1

In [ ]:
# assign independent and dependent variables
y = df1['Survived']
X = df1.drop('Survived', axis=1)

In [ ]:
# Statistical summary of X
X.describe()

There are three Scaling method in the preprocessing

1. Standard Scaler
2. Min Max Scaler
3. Normalization

As per the question we can use with Min Max Scaler
Minmax scaling is done to convert all our values in the range 0-1.

In [ ]:
# Let's import preprocessing from sklearn library and do minmax scaling
from sklearn import preprocessing
min_max = preprocessing.MinMaxScaler(feature_range=(0,1))
X = min_max.fit_transform(X)
X = pd.DataFrame(X)

In [ ]:
X.head()

In [ ]:
X.describe()

we can see that our data is scaled with MinMaxScaler

In [ ]:
# train and test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state=42, test_size=0.2)

# Linear model
from sklearn import linear_model
lr = linear_model.LinearRegression()
model = lr.fit(X_train,y_train)
predictions = model.predict(X_test)

# MSE and R Squared
from sklearn.metrics import mean_squared_error, r2_score
print("MSE is: ", mean_squared_error(y_test, predictions))
print("R Squared is: ", r2_score(y_test, predictions))

MSE value is low which means scaling has no adverse effect on our model. And R Squared is very low which means our model is not accurate.